@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Ensures dark mode is always on */
html {
  background-color: #000; /* Or any dark background you prefer */
}

/* Applying the dark class to the root element */
html {
  display: block;
}

html.dark {
  --tw-bg-opacity: 1;
  background-color: #000; /* Dark background */
  color-scheme: dark;
}

/* Add this to your global CSS file */
@keyframes bounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #f9b51e;
}

::selection {
  color: white;
  background: #f9b51e;
}
